@page
@model BookLibrary.Pages.Books.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Book.Title</h4>
    <hr />
    <img src="@Model.Book.ImageUrl" style="max-width:10rem"/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author.Fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Category.Category1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Atribute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Atribute.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Model.Book.ReleaseYear.Value.ToString("yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ImageUrl)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Book.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
