@page
@model BookLibrary.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Available Books</h1>

<p>
    <a asp-page="Create">Add Book to Inventory</a>
</p>
<form asp-page-handler="Search" method="post">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" id="SearchTerm" 
                   asp-for="SearchTerm" />
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Book[0].ImageUrl)*@
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">@Html.DisplayNameFor(model => model.Book[0].Title)</a>
            </th>
             <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AuthorSort">@Html.DisplayNameFor(model => model.Book[0].Author)</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CategorySort">@Html.DisplayNameFor(model => model.Book[0].Category)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Atribute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ReleaseYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                <img src="@item.ImageUrl" style="max-width:8rem"/>
                @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Author.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Category1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Atribute.Size)
            </td>
            <td>
                @item.ReleaseYear.Value.ToString("yyyy")
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
